@import 'nib'

@font-face
	font-family Run;
	src url(/assets/font/run.ttf)
	
$ancho_logo = 60vw

h1, h2, h3
	margin: 0
	padding: 0

body
	height: 100vh
	margin: 0
	padding: 0
	
//PAGINA INICIAL
.landing
	background-color: #FFF
	position: absolute
	z-index: 10
	top 0
	left: 0
	width: 100%
	height 100%
	display: flex
	justify-content: center
	align-content: center
	transition all .8s linear
	overflow:hidden
	&--none
		opacity: 0
		visibility: hidden
.logo
	width: $ancho_logo
	animation-name: logo
	animation-duration: 3s
	animation-timing-function: bezier(.2,.82,.48,1.06)
	
@keyframes logo
	0% 
		
		transform: scale(1.05, 1.05)
	100%
		transform none

//PAGINA ESTABLE
.content
	width 100%
	height: 100vh
	display flex
	flex-direction: column
	overflow hidden
	@media screen and (orientation:landscape)
		flex-direction row
.box
	position: relative
	text-align: center
	padding: 5%
	text-decoration: none
	transition transform .6s ease
	&_ingenieria
		flex-grow 1
	&_capacitaciones
		flex-grow 1
	&__logo
		position: absolute
		top: 50%; 
		left: 50%;
		transform: translate(-50%, -50%);
		height: 25vh
	&__label
		font-size: 1.1em
		width 60%
		text-align: center
		position: absolute
		bottom 5%
		left 20%
		font-family "Run"
		letter-spacing 0.1em
		
	&:hover
		transform: scale(1.02, 1.02)
		z-index 10